<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoD_SCZ_FoV_Changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CoD_SCZ_FoV_Changer.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldOfView" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="FieldOfViewScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Beep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </CoD_SCZ_FoV_Changer.Properties.Settings>
    </userSettings>
</configuration>